body, html {
    height: 100%;
}

#portfolio {
  padding-top: 50px;
}

.parallax1 {
    /* The image used */
    background-image: url("background.jpg");
    opacity: 0.65;

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("background2.jpg");
    opacity: 0.65;

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
